<div class="col-lg-12 row">
    <div class="col-lg-6">
        <form [formGroup]="fieldsForm"  >
            <div class="col-lg-12 row">
            <mat-form-field class="full-width-input col-lg-4">
              <input matInput type="text" placeholder="Field Name" formControlName="Description">        
            </mat-form-field>
            <mat-form-field class="full-width-input col-lg-4">
              <input matInput placeholder="Field Size in ha" formControlName="FieldSize" type="number" min="1">
              <mat-error>
                Input a valid value more then 0.
              </mat-error>
            </mat-form-field>
        </div>
            <button mat-raised-button class="col-lg-12" color="primary" (click)="onFieldSubmit()">Save</button>    
          </form>  
              
    </div>
    <div class="col-lg-6">
        <table class="table table-bordered">
            <thead>
                <th class="col">
                    Field Name
                </th>
                <th class="col">
                    Field Size
                </th>
                <th></th>
            </thead>
            <tbody>
                <tr *ngFor="let field of fields">
                    <td>{{field.description}}</td>
                    <td>{{field.fieldSize}}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>